<template>
  <!-- start of footer  -->
  <div class="footer-container ">
    <div class="footer-top ">
      <div class="part1 ">
        <h1 class="title-list " style="margin-right: -4px; ">علی‌بابا</h1>
        <ul class="circular-unorderlist ">
          <div class="custom-dot-li ">
            <span class="dot ">•</span>
            <li>درباره ما</li>
          </div>
          <div class="custom-dot-li ">
            <span class="dot ">•</span>
            <li>تماس با ما</li>
          </div>
          <div class="custom-dot-li ">
            <span class="dot ">•</span>
            <li>چرا علی‌بابا</li>
          </div>
          <div class="custom-dot-li ">
            <span class="dot ">•</span>
            <li>باشگاه مشتریان</li>
          </div>
          <div class="custom-dot-li ">
            <span class="dot ">•</span>
            <li>قوانین و مقررات</li>
          </div>
          <div class="custom-dot-li ">
            <span class="dot ">•</span>
            <li>راهنمای خرید</li>
          </div>
          <div class="custom-dot-li ">
            <span class="dot ">•</span>
            <li>پرسش و پاسخ</li>
          </div>
          <div class="custom-dot-li ">
            <span class="dot ">•</span>
            <li>مجله علی‌بابا</li>
          </div>
          <div class="custom-dot-li ">
            <span class="dot ">•</span>
            <li>فرصت‌های شغلی</li>
          </div>
        </ul>
      </div>
      <div class="part2 ">
        <h1 class="title-list " style="margin-right: -25px; ">
          اطلاعات تکمیلی
        </h1>
        <ul class="circular-unorderlist ">
          <div class="custom-dot-li ">
            <span class="dot ">•</span>
            <li>بلیط چارتر</li>
          </div>
          <div class="custom-dot-li ">
            <span class="dot ">•</span>
            <li>راهنمای خرید بلیط هواپیما(داخلی)</li>
          </div>
          <div class="custom-dot-li ">
            <span class="dot ">•</span>
            <li>راهنمای خرید بلیط هواپیما(خارجی)</li>
          </div>
          <div class="custom-dot-li ">
            <span class="dot ">•</span>
            <li>راهنمای خرید بلیط قطار</li>
          </div>
          <div class="custom-dot-li ">
            <span class="dot ">•</span>
            <li>راهنمای خرید بلیط اتوبوس</li>
          </div>
          <div class="custom-dot-li ">
            <span class="dot ">•</span>
            <li>راهنمای رزرو هتل خارجی</li>
          </div>
          <div class="custom-dot-li ">
            <span class="dot ">•</span>
            <li>راهنمای استرداد بلیط</li>
          </div>
          <div class="custom-dot-li ">
            <span class="dot ">•</span>
            <li>بلیط قطار</li>
          </div>
          <div class="custom-dot-li ">
            <span class="dot ">•</span>
            <li>خرید بلیط هواپیما خارجی</li>
          </div>
          <div class="custom-dot-li ">
            <span class="dot ">•</span>
            <li>اطلاعات فرودگا‌هی</li>
          </div>
          <div class="custom-dot-li ">
            <span class="dot ">•</span>
            <li>شیوه‌نامه حقوق مسافر</li>
          </div>
        </ul>
      </div>
      <div class="part3 ">
        <h1 class="title-list ">اپلیکیشن علی‌بابا</h1>
        <div class="detail ">
          با نصب اپلیکیشن علی‌بابا بلیط همه سفرها در جیب شماست. آسان‌ترین،
          کامل‌ترین و مطمئن‌ترین روش تهیه بلیط و هتل را با اپلیکیشن علی‌بابا
          تجربه کنید.
        </div>
        <table class="application-links ">
          <tr>
            <th>
              <img
                class="app-button "
                src="https://cdn.alibaba.ir/dist/181715f2/img/6cad9d5.svg?w=125&amp;h=42&amp;q=100 "
                alt="دانلود اپلیکیشن اندروید علی‌بابا "
              />
            </th>
            <th>
              <img
                class="app-button "
                src="https://cdn.alibaba.ir/dist/181715f2/img/e85b978.svg?w=125&amp;h=42&amp;q=100 "
                alt="دانلود اپلیکیشن iOS علی‌بابا "
              />
            </th>
          </tr>
          <tr>
            <th>
              <img
                class="app-button "
                src="https://cdn.alibaba.ir/dist/181715f2/img/35bde59.svg?w=125&amp;h=42&amp;q=100 "
                alt="دانلود اپلیکیشن علی‌بابا از Google Play "
              />
            </th>
            <th>
              <img
                class="app-button "
                src="https://cdn.alibaba.ir/dist/181715f2/img/e23d317.svg?w=125&amp;h=42&amp;q=100 "
                alt="نصب نسخه وب‌اپلیکیشن "
              />
            </th>
          </tr>
        </table>
      </div>
      <div class="part4 ">
        <img
          style="margin-right: 50px; "
          src="https://cdn.alibaba.ir/dist/181715f2/img/ef8be5e.svg "
          alt="لوگو فوتر "
          class="site-footer__logo "
        />
        <ul class="contact-info ">
          <li>
            <span>تلفن پشتیبانی:</span>
            <span style="direction: ltr!important; display: inline-block; "
              >021 - 49275000</span
            >
            |
            <span style="direction: ltr!important; display: inline-block; "
              >021 - 49275000</span
            >
          </li>
        </ul>
        <div class="footer-grid ">
          <img class="footer-grid-item " src="/certificate1.png " />
          <img class="footer-grid-item " src="/certificate2.png " />
          <img class="footer-grid-item " src="/certificate3.png " />
          <img class="footer-grid-item " src="/certificate4.svg " />
          <img class="footer-grid-item " src="/certificate5.png " />
          <img class="footer-grid-item " src="/certificate6.svg " />
        </div>
      </div>
    </div>
    <div class=" footer-bottom ">
      <span
        >کلیه حقوق این سایت محفوظ و متعلق به آژانس هواپیمایی و جهانگردی علی بابا
        می‌باشد. (ورژن 4.193.0)</span
      >
      <div class="footer-bottom-left ">
        <div class="container-social instagram ">
          <img style="width: 24px; " src="/instagram.png " />
        </div>
        <div class="container-social linkedin ">
          <img style="width: 20px; " src="/linkedin.png " />
        </div>
        <div class="container-social aparat ">
          <img style="width: 24px; " src="/aparat.png " />
        </div>
      </div>
    </div>
  </div>
  <!-- end of footer  -->
</template>

<script>
export default {}
</script>

<style scoped>
/* footer design */

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.footer-top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 486px;
  width: 100%;
  background-color: #e1e1e1;
  padding-top: 40px;
}

ul {
  list-style: none;
}

.title-list {
  font-size: 20px;
  color: #424242;
  font-weight: 700;
  text-align: center;
}

.circular-unorderlist li {
  color: #646464;
  font-size: 12px;
  margin-bottom: 10px;
}

.circular-unorderlist li:hover {
  color: #4990e2;
  cursor: pointer;
}

.custom-dot-li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.custom-dot-li .dot {
  font-size: 22px;
  color: orange;
  margin-top: -4px;
  margin-left: 10px;
}

/* sizes */

.part1 {
  margin-right: -40px;
}

.part2 {
  margin-right: -60px;
}

.part3 {
  margin-right: -110px;
}

.part4 {
  margin-right: -10px;
}

/* part 3 */

.part3 h1 {
  margin-right: -39px;
}

.part3 .part4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.part3 .detail {
  margin-right: 110px;
  font-size: 12px;
  width: 260px;
  color: #646464;
}

.app-button {
  border-radius: 6px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  width: 130px;
  margin-left: 6px;
  margin-top: 3px;
  cursor: pointer;
}

.application-links {
  margin-right: 110px;
  margin-top: 17px;
}

/* part 4 */

.part4 {
  justify-content: center;
  align-items: center;
}

.part4 img {
  margin-bottom: 8px;
  margin-right: 8px;
}

.contact-info {
  font-size: 13px;
  color: #424242;
}

.footer-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.footer-grid-item {
  width: 88px;
  height: 88px;
  border-radius: 10px;
  background-color: white;
  padding: 5px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* bottom of footer */

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  background-color: #424242;
}

.footer-bottom span {
  color: white;
  font-size: 12px;
  padding-right: 14%;
}

.footer-bottom-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 14%;
}

.container-social {
  background-color: #646464;
  border-radius: 100%;
  margin: 5px;
}

.container-social:hover {
  cursor: pointer;
}

.instagram {
  padding: 8px;
}

.instagram:hover {
  background-color: #405de6;
}

.linkedin {
  padding-left: 10.5px;
  padding-right: 10.5px;
  padding-top: 7px;
  padding-bottom: 1px;
}

.linkedin:hover {
  background-color: #0077b4;
}

.aparat {
  padding: 8px;
}

.aparat:hover {
  background-color: #ec145c;
}
</style>
