<template>
  <!-- start header -->

  <div class="header-container">
    <div class="right-header">
      <div class="logo">
        <img
          src="https://cdn.alibaba.ir/dist/e7b976ff/img/f05d292.svg"
          alt="لوگو علی بابا"
          width="50"
          class="inline-block v-middle"
        />
        <img
          class="logo-title visible-xs"
          src="https://cdn.alibaba.ir/dist/e7b976ff/img/46dd022.png"
          alt="خرید آنلاین بلیط هواپیما و قطار"
          height="35"
          style="margin-top:-5px;"
        />
      </div>
      <button class="btn-right">
        <i class="material-icons">airplanemode_active</i>
        <span class="btn-txt">هواپیما</span>
      </button>
      <button class="btn-right">
        <i class="material-icons" style="color: grey; margin-right: -13px; "
          >expand_more</i
        >
      </button>
      <div class="divider"></div>
      <button class="btn-right">
        <i class="material-icons">train</i>
        <span class="btn-txt">قطار</span>
      </button>
      <div class="divider"></div>

      <button class="btn-right">
        <i class="material-icons">directions_bus</i>
        <span class="btn-txt">اتوبوس</span>
      </button>
      <div class="divider"></div>
      <button class="btn-right">
        <i class="material-icons">directions_bike</i>
        <span class="btn-txt">تور</span>
      </button>
      <div class="divider"></div>
      <button class="btn-right">
        <i class="material-icons">home</i>
        <span class="btn-txt">هتل</span>
      </button>
    </div>
    <div class="left-header">
      <button class="btn peygiri">پیگیری خرید</button>
      <button class="btn">ورود - ثبت نام</button>
      <button class="btn">
        <i class="material-icons">person</i>
      </button>
      <button class="btn">
        <i class="material-icons" style="margin-right: -20px;margin-left: -5px;"
          >expand_more</i
        >
      </button>
      <div class="divider"></div>
      <button class="btn" style="direction: ltr;">۰۲۱ - ۴۳۹۰۰۰۰۰</button>
      <button class="btn">
        <i class="material-icons">call</i>
      </button>
      <button class="btn">
        <i class="material-icons" style="margin-right: -8.5px;">expand_more</i>
      </button>
    </div>
  </div>
  <!-- end header -->
</template>

<script>
export default {}
</script>

<style scoped>
.logo-title {
  margin-left: 10px;
}

/* Header */

.header-container {
  z-index: 100;
  height: 65px;
  width: 100%;
  top: 0;
  /* overflow: hidden; */
  /* background-color: yellow; */
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.28);
}

.header-container > * {
  font-size: 9.5px;
}

/* Divider Design */

.divider {
  border-left: 1px solid rgba(128, 128, 128, 0.5);
  height: 43%;
}

/* left part of header */

.left-header {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  color: grey;
  margin-left: 40px;
}

.left-header > * {
  /* margin: 8px; */
  margin-right: 3px;
  margin-left: 3px;
}

/* right part of header */

.right-header {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  color: grey;
  margin-right: 40px;
}

.right-header > * {
  /* margin: 8px; */
  margin-right: 0;
  margin-left: 0;
}

/* Button Designs */

/* btn right design */

.btn-right {
  background-color: white;
  border: none;
  font-family: 'IranSans';
  font-size: 14px;
  color: grey;
  cursor: pointer;
  align-items: center;
}

.btn-right:hover {
  border-color: #ff9800;
  color: #ffaa0f;
}

.btn-txt {
  vertical-align: 1px;
}

.right-header .material-icons {
  font-size: 20px;
  vertical-align: -6px;
}

/* btn left design */

.btn {
  background-color: transparent;
  border: none;
  font-family: 'IranSans';
  font-size: 150%;
  color: grey;
  cursor: pointer;
  align-items: center;
}

.peygiri {
  border: 0.5px solid rgba(151, 150, 150, 0.5);
  border-radius: 4px;
  padding: 5;
}

.peygiri:hover {
  border-color: #ff9800;
  color: #ffaa0f;
}
</style>
