<template>
  <h1 class="title">
    {{ item.rate_desc }}
  </h1>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>
.title {
  color: red;
}
</style>
