@font-face {
    font-family: "IranSans";
    src: url("/fonts/IRANSansDN_Fa_Num.ttf");
}

@font-face {
    font-family: "IranSans";
    src: url("/fonts/IRANSansDN_FaNum-Bold.ttf");
    font-weight: bold;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: "IranSans";
    font-size: 8;
    direction: rtl;
    min-width: fit-content;
    background-color: white;
}

button:focus {
    outline: 0;
}