<template>
  <div>
    <Header />
    <nuxt class="nuxt-container" />
    <Footer />
  </div>
</template>

<script>
import Header from '../components/layouts/Header/Header'
import Footer from '../components/layouts/Footer/Footer'

export default {
  components: {
    Header,
    Footer
  }
}
</script>

<style scoped>
.nuxt-container {
  padding-top: 64px;
  background-color: lightgray;
}
</style>
