<template>
  <div>
    <Card v-for="(item, index) in arr" :key="index" :item="item" />
  </div>
</template>

<script>
import Card from '../components/pages/Index/Card'

export default {
  components: {
    Card
  },
  data() {
    return {
      arr: [
        {
          image: 'https://cdn.alibaba.ir/inh/images/hotel/4461/113287944.jpg',
          name: 'Antik Istanbul',
          price: 5612000,
          rate_desc: 'بسیار عالی',
          rate_number: 8.3,
          stars: 4,
          _id: 1
        },
        {
          image: 'https://cdn.alibaba.ir/inh/images/hotel/4461/113287944.jpg',
          name: 'Antik Istanbul',
          price: 5612000,
          rate_desc: 'بسیار عالی',
          rate_number: 8.3,
          stars: 4,
          _id: 1
        },
        {
          image: 'https://cdn.alibaba.ir/inh/images/hotel/4461/113287944.jpg',
          name: 'Antik Istanbul',
          price: 5612000,
          rate_desc: 'بسیار عالی',
          rate_number: 8.3,
          stars: 4,
          _id: 1
        }
      ]
    }
  }
}
</script>

<style scoped>
.title {
  color: red;
}
</style>
