<template>
  <!-- start login form  -->
  <div class="entrance-container">
    <div class="entrance-content">
      <div class="right-guide" :class="{ 'sign-up-active': !login }">
        <h1 class="title">نکاتی برای امنیت بیشتر</h1>
        <ul class="guide-ul">
          <div class="guide-dot-li ">
            <li>نام کاربری و رمز خود را در اختیار سایرین قرار ندهید.</li>
          </div>
          <div class="guide-dot-li ">
            <li>
              از رمز عبوری استفاده کنید که حدس زدن آن برای دیگران غیرممکن باشد.
            </li>
          </div>
          <div class="guide-dot-li ">
            <li>
              پس از خرید بلیط در فضاهای اشتراکی مثل کافی‌نت‌ها، حتما از حساب خود
              خارج شوید.
            </li>
          </div>
        </ul>
      </div>
      <div v-if="login" class="left-form">
        <div class="two-buttons-container">
          <div class="btn-login" @click="login = true">
            <i class="material-icons">fingerprint</i>
            <span class="btn-txt">ورود</span>
          </div>
          <div class="btn-signup" @click="login = false">
            <i class="material-icons">filter_tilt_shift</i>
            <span class="btn-txt">ثبت نام</span>
          </div>
        </div>
        <form class="signup-form">
          <div class="input-with-label">
            <label>ایمیل یا شماره همراه خود را وارد کنید</label>
            <input
              id="email-input "
              type="email "
              name="email "
              dir="ltr "
              class="entrance-input "
            />
          </div>
          <div class="input-with-label password">
            <label>رمز عبور خود را وارد کنید</label>
            <input
              id="password-input "
              type="password"
              name="password "
              dir="ltr"
              class="entrance-input"
            />
          </div>
          <button class="entrance-btn login">وارد شوید</button>
          <a class="forget-password">بازیابی رمز عبور</a>
          <button class="entrance-btn sign-up">ثبت نام</button>
        </form>
      </div>
      <div v-else class="left-form-su">
        <div class="two-buttons-container-su">
          <div class="btn-login-su" @click="login = true">
            <i class="material-icons">fingerprint</i>
            <span class="btn-txt">ورود</span>
          </div>
          <div class="btn-signup-su" @click="login = false">
            <i class="material-icons">filter_tilt_shift</i>
            <span class="btn-txt">ثبت نام</span>
          </div>
        </div>
        <form class="signup-form-su">
          <div class="signup-grid">
            <div class="input-with-label-su email">
              <label>ایمیل (الزامی)</label>
              <input
                id="email-input "
                type="email"
                name="email "
                dir="ltr"
                class="entrance-input"
              />
            </div>
            <div class="input-with-label-su phone">
              <label>تلفن همراه (الزامی)</label>
              <input
                id="number-input "
                type="number"
                name="number "
                dir="ltr"
                class="entrance-input"
              />
            </div>
            <div class="input-with-label-su password">
              <label>رمز عبور (الزامی)</label>
              <input
                id="password-input "
                type="password"
                name="password "
                dir="ltr"
                class="entrance-input"
              />
            </div>
            <div class="input-with-label-su re-password">
              <label>تکرار رمز عبور (الزامی)</label>
              <input
                id="re-password-input "
                type="password"
                name="re-password "
                dir="ltr"
                class="entrance-input"
              />
            </div>
          </div>
          <label class="singup-checkbox-1">
            <input type="checkbox" checked="checked" />
            <span class="txt-checkbox"
              ><a href="" class="sign-up-hyperlikn"
                >قوانین و مقررات سفرهای علی‌بابا</a
              >
              را می‌پذیرم.</span
            >
          </label>
          <label class="singup-checkbox-2">
            <input type="checkbox" checked="checked" />
            <span class="txt-checkbox"
              >مایل به دریافت خبرنامه و ایمیل‌های علی بابا هستم</span
            >
          </label>
          <button class="entrance-btn-su signup">ثبت نام</button>
        </form>
      </div>
    </div>
  </div>
  <!-- end login form -->
</template>

<script>
export default {
  data() {
    return {
      login: true
    }
  }
}
</script>

<style scoped>
.entrance-container {
  position: relative;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 910px;
  height: 511px;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 55px;
  background-color: white;
  box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.divider-horizental {
  width: 100%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.226);
}

.entrance-container-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  padding-right: 40px;
}

.entrance-title {
  color: #646464;
  font-size: 20px;
  font-weight: 700;
  padding-right: 10px;
}

.entrance-content {
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #646464;
}

.right-guide {
  width: 370px;
  padding-right: 20px;
  margin-top: -185px;
}

.right-guide .title {
  font-size: 14px;
  font-weight: 700;
  padding-right: 15px;
}

.guide-ul {
  list-style: disc;
  font-size: 14px;
}

.guide-ul li {
  padding: 5px;
  line-height: 27px;
}

.left-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
  width: 360px;
}

.two-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  left: -35px;
  margin-bottom: 5px;
  top: 0px;
}

.btn-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 150px;
  height: 90px;
  border: 1px solid #4a90e2;
  border-radius: 4px;
  background-color: #f5faff;
  margin-left: 4px;
}

.btn-login .btn-txt {
  color: #4a90e2;
  font-size: 13.5px;
  margin-bottom: -8px;
}

.btn-login .material-icons {
  color: #4a90e2;
  font-size: 33px;
  margin-top: -12px;
}

.btn-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 150px;
  height: 90px;
  border-radius: 4px;
  margin-left: 4px;
}

.btn-signup:hover {
  background-color: #f5faff;
}

.btn-signup .btn-txt {
  color: #646464;
  font-size: 13.5px;
  margin-bottom: -8px;
}

.btn-signup .material-icons {
  color: #646464;
  font-size: 33px;
  margin-top: -12px;
}

.login-form {
  margin-top: 25px;
}

.input-with-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 370px;
}

.input-with-label > * {
  margin: 3px;
  font-size: 14px;
  width: 100%;
}

.entrance-input {
  direction: ltr;
  padding-left: 13px;
  height: 45px;
  font-size: 15px;
  color: #4b4a4a;
  border-radius: 4px;
  border: 1px solid #d2d2d2;
}

.entrance-input:focus {
  border: 1px solid black;
  outline: none;
}

.input-with-label.password {
  padding-top: 10px;
  margin-bottom: 10px;
}

.entrance-btn {
  position: relative;
  left: -3px;
  height: 45px;
  width: 100%;
  color: #fff;
  font-size: 15px;
  font-family: 'IranSans';
  cursor: pointer;
}

.entrance-btn.login {
  background-color: #4990e2;
  border-color: #3383de;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.entrance-btn.login:hover {
  background-color: #2376d6;
  border-color: #1d65b7;
}

.entrance-btn.sign-up {
  background-color: #649b18;
  border-color: #568515;
  border-radius: 4px;
  margin-top: 10px;
}

.entrance-btn.sign-up:hover {
  background-color: #487010;
  border-color: #34500c;
}

.forget-password {
  color: #2979ff;
  background-color: white;
  position: relative;
  left: -144px;
  height: 45px;
  width: 100%;
  font-size: 14px;
  font-family: 'IranSans';
  cursor: pointer;
}

.forget-password:hover {
  color: #4990e2;
}

.entrance-container-su {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 910px;
  height: 510px;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 55px;
  background-color: white;
  box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.divider-horizental {
  width: 100%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.226);
}

.entrance-container-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  padding-right: 40px;
}

.entrance-title {
  color: #646464;
  font-size: 20px;
  font-weight: 700;
  padding-right: 10px;
}

.entrance-content-su {
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #646464;
}

.right-guide-su {
  width: 370px;
  padding-right: 20px;
  margin-top: -230px;
}

.right-guide .title {
  font-size: 14px;
  font-weight: 700;
  padding-right: 15px;
}

.guide-ul {
  list-style: disc;
  font-size: 14px;
}

.guide-ul li {
  padding: 5px;
  line-height: 27px;
}

.left-form-su {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 74px;
  width: 360px;
}

.two-buttons-container-su {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  left: -35px;
  bottom: 18px;
  top: 0px;
  margin-bottom: 5px;
  /* margin-top: -100px; */
}

.btn-login-su {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 150px;
  height: 90px;
  border-radius: 4px;
  margin-left: 4px;
}

.btn-login-su:hover {
  background-color: #f5faff;
}

.btn-login-su .btn-txt {
  color: #646464;
  font-size: 13.5px;
  margin-bottom: -8px;
}

.btn-login-su .material-icons {
  color: #646464;
  font-size: 33px;
  margin-top: -12px;
}

/* ----------- */

.btn-signup-su {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 150px;
  height: 90px;
  border: 1px solid #4a90e2;
  border-radius: 4px;
  background-color: #f5faff;
  margin-left: 4px;
}

.btn-signup-su .btn-txt {
  color: #4a90e2;
  font-size: 13.5px;
  margin-bottom: -8px;
}

.btn-signup-su .material-icons {
  color: #4a90e2;
  font-size: 33px;
  margin-top: -12px;
}

/* form setup */

.signup-form-su {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.signup-grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0px;
  row-gap: 0px;
  width: 400px;
}

.input-with-label-su {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
}

.input-with-label-su > * {
  margin: 3px;
  font-size: 14px;
  width: 100%;
}

.entrance-input {
  direction: ltr;
  padding-left: 13px;
  height: 45px;
  font-size: 15px;
  color: #4b4a4a;
  border-radius: 4px;
  border: 1px solid #d2d2d2;
}

.entrance-input:focus {
  border: 1px solid black;
  outline: none;
}

.input-with-label-su {
  padding: 10px;
  margin-bottom: 10px;
}

/* sign up button */

.entrance-btn-su {
  position: relative;
  height: 45px;
  width: 422px;
  color: #fff;
  font-size: 15px;
  font-family: 'IranSans';
  cursor: pointer;
}

.entrance-btn-su.signup {
  position: relative;
  left: -12px;
  background-color: #4990e2;
  border-color: #3383de;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.entrance-btn-su.signup:hover {
  background-color: #2376d6;
  border-color: #1d65b7;
}

.singup-checkbox-1 {
  font-size: 16px;
  margin-right: -70px;
  color: #646464;
  cursor: pointer;
}

.singup-checkbox-2 {
  font-size: 16px;
  margin-right: -30px;
  margin-top: 13px;
  margin-bottom: 30px;
  color: #646464;
  cursor: pointer;
}

.sign-up-hyperlikn {
  color: #2979ff;
}

.sign-up-hyperlikn:hover {
  color: #4990e2;
}

.sign-up-active {
  margin-top: -220px;
}
</style>
